.container {
  display: grid;
  // grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  // grid-template-areas: "header header header header" "main . . main" "footer footer footer footer";

  grid-template-columns: 1fr;
  grid-template-areas: "intro" "body";
}

.intro {
  grid-area: intro;
}

.body1 {
  grid-area: body;
}

main {
  grid-area: main;
}

// .col1 {
//   grid-area: col1;
// }
//
// .col2 {
//   grid-area: col2;
// }
