// for a color Pallete https://color.adobe.com/create/color-wheel

// $bgColor: white;
$textColor: black;

$padding: 10px;
$border: 3px;
$h1-size: 5em;

$bgColor: "#f4f9f9";
$secondaryColor: "#ccf2f4";
$thirdColor: "#a4ebf3";
$fourthColor: "#aaaaaa";

//Fonts
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');

$font-main: "oswald", Helvetica, sans-serif;
$font-highlight: "cardo", Helvetica, sans-serif;

//nav
$navColor: #333;
$ulNavPadding: 15px;
$navFont: "Fira Sans", sans-serif;
$navFontSize: 17px;
$navLinkColor: #111;

//Headers
$h1Size: 5em;
$h1Margin: 2%;

$h2Size: 2em;
$h2Margin: 1%;

$marginLeft: 4%;
$marginRight: 4%;

//P
$pSize: 1em;
$pMargin: 1%;

$footer-height: 30px;